.box{
    float: left;
    width: 100px
}
    .header{
        float: left;
        color: black;
    }
        .content{
            background-color: beige;
            color: blanchedalmond;
        }